{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- Vendor Files -->
    <script src="{% static "js/vendors/jquery.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>
    <!-- JavaScript -->
    <script src="{% static "js/app.js" %}"></script>
    <!-- Resources -->
    <script src="{% static "js/factories/commentResource.js" %}"></script>
    <!-- Controllers -->
    <script src="{% static "js/controllers/homeController.js" %}"></script>
    <script src="{% static "js/controllers/projectController.js" %}"></script>
</head>
<body>
    <div ng-app="baseclone">
        Outside of ng-view
        <div ng-view></div>
    </div>
</body>
</html>