<h1>{{ discussion.subject }}</h1>
<div>
    {{ discussion.content }}
</div>

<button ng-click="deleteMessage();">Delete</button>
<button ng-click="edit();" ng-hide="editing" type="submit" size="large">
    Edit
</button>

<input ng-model="subject" type="text" placeholder="{{ discussion.subject }}" ng-show="editing">
<br>
<textarea ng-model="content" type="text" placeholder="{{ discussion.content }}" ng-show="editing"></textarea>
<br>
<button ng-click="saveChanges();" ng-show="editing">
    Save changes
</button>

<h2>Comments</h2>
<div ng-repeat="comment in discussion.comments">
    <b>{{ comment.creator.name }}:</b>{{ comment.content }}
</div>
<br>
<input ng-model="commentText" placeholder="Add a comment...">
<button ng-click="addComment();">Add comment</button>
