<div>
    Project name: {{ project.name }}
</div>
<div>
    Project description: {{ project.description }}
</div>

<div>
    Topics:
    <h3>
        Discussions:
    </h3>
    <div ng-repeat="topic in topics | topicTypeFilter:'Message'">
        <a href="#/projects/{{ project.id }}/discussion/{{ topic.topicable.id }}">
            <p>Title: {{ topic.title }}</p>
        </a>
    </div>
    <h3>
        Calendar Events:
    </h3>
    <div ng-repeat="topic in topics | topicTypeFilter:'CalendarEvent'">
        {{ topic.title }}
    </div>
</div>